body {
    background-image:url(images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    color: black;
    box-sizing: border-box;
}

.heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    text-align: center;
}

.container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    padding: 20px;
    background-color: rgb(61, 60, 59);
    border-radius: 10px;
}

.calculator form input {
    justify-content: center;
    text-align: center;
    border: 0;
    outline: 0;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 4px 0px 5px 0px rgba(164, 238, 249, 0.75);
    background-color:black ;
    color: white;
    cursor: pointer;
    margin: 1px;
    font-size: 20px;

}

form .display {
    display: flex;
    justify-content: end;
    margin: 10px;
}

form .display input {
    text-align: right;
    flex: 2;
    font-size: 20px;
    box-shadow: none;
}


form input.operator {
    font-weight: bold;
    color: rgb(101, 180, 249);
}